{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "fitness/bootstrap.min.css"  %}">
    <link rel="icon" type="image/png" href="{% static "fitness/ahsan1.png" %}">

    <title>Fitness</title>
    <style>
        /* Custom CSS for the toggle button */
        .navbar-toggler-icon {
            background-color:  rgb(119, 112, 215);; /* Change the background color of the toggle button */
        }
        .navbar-toggler.collapsed .navbar-toggler-icon {
            background-color:  rgb(119, 112, 215);; /* Change the background color when the button is collapsed */
        }
        h3, h4{
          color: white;
        }
        #About, #About1{
          background-color: black;
        }
    </style>
</head>
<body style="background-color: black; color: white;">
    <nav id="topNav" class="navbar navbar-light" style="position: sticky; top: 0; z-index: 1; background-color: rgb(119, 112, 215);">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavLeft" aria-controls="navbarNavLeft" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-brand mx-auto">
            <a href="{% url 'home' %}">
                <img src="{% static "fitness/ahsan1.png" %}" height="75" class="d-inline-block align-top" alt="Logo Here">
            </a>
            </div>
    </nav>
    <div class="container toggle-menu">
        <div class="collapse navbar-collapse" id="navbarNavLeft" style="background-color: black;">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: black;"><a href="#About" style="color: white;">About</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Contact" style="color: white;">Contact</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Supplements" style="color: white;">Supplements</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Nutrition" style="color: white;">Nutrition Tracking</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Body" style="color: white;">Body Fat Percentage Calculation</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Logging" style="color: white;">Workout Logging</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Tips" style="color: white;">Workout Tips</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Mental" style="color: white;">Mental Health Tracking</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Trainers" style="color: white;">Certified Trainers</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Gym" style="color: white;">Gym Locator</a></li>
                <li class="list-group-item" style="background-color: black;"><a href="#Trainers" style="color: white;">Trainers Page</a></li>
                <!-- Add more menu items for your functionalities here -->
            </ul>
        </div>
    </div>
    {% block content %}{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>