{% extends "fitness/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <br>
    <br><br>
    <h1 style="color: white; text-align: center;">Gym Tracker/Location Page</h1>
    <br><br>
    <div class="row no-gutters">
    <h2>Nearby Gyms</h2>
    <iframe style="margin-left: 0px;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d23741.44998419849!2d80.23619985860807!3d13.073663021186368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1snearby%20gym!5e0!3m2!1sen!2sin!4v1695425914590!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}