{% extends "fitness/base.html" %}

{% load static %}

{% block content %}

<style>
    .range{
        display: inline-block;
        margin-right: 0px;
        margin-left: 100px;
        text-align: center;
        transition: transform 0.2s;
    }
    .range:hover {
        transform: translateY(-5px) scale(1.1); /* Translate upward and slightly scale */
    }
</style>

<div class="container">
    <br>
    <br><br>
    <h1 style="color: white; text-align: center;">Mental Health Page</h1>
    <a class="navbar-brand" href="{% url 'quiz' %}" style="text-align: center; margin-left: 350px;">Take the personality quiz here</a>
    <br>
    <br>
    <h2 style="color: white; text-align: center;">How are you feeling Today?</h2>
    <br>
    
    <p style="font-size:50px" class="range motivation-button" data-image="motivationImage"><button style="background-color: black; border: none;">&#128534;</button></p>
    <p style="font-size:50px" class="range motivation-button" data-image="motivationImage2"><button style="background-color: black; border: none;">&#128577;</button></p>
    <p style="font-size:50px" class="range motivation-button" data-image="motivationImage3"><button style="background-color: black; border: none;">&#128528;</button></p>
    <p style="font-size:50px" class="range motivation-button" data-image="motivationImage4"><button style="background-color: black; border: none;">&#128512;</button></p>
    <p style="font-size:50px" class="range motivation-button" data-image="motivationImage5"><button style="background-color: black; border: none;">&#128522;</button></p>
    <img id="motivationImage" src="{% static "fitness/ahsmen.jpg" %}" alt="Motivation Image" style="display: none; height: 350px; width: 300px; margin-left: 375px;">
    <img id="motivationImage2" src="{% static "fitness/ahsmelan.jpg" %}" alt="Motivation Image" style="display: none; height: 350px; width: 300px; margin-left: 375px;">
    <img id="motivationImage3" src="{% static "fitness/neutral.webp" %}" alt="Motivation Image" style="display: none; height: 350px; width: 300px; margin-left: 375px;">
    <img id="motivationImage4" src="{% static "fitness/happy2.jfif" %}" alt="Motivation Image" style="display: none; height: 350px; width: 300px; margin-left: 375px;">
    <img id="motivationImage5" src="{% static "fitness/happy1.jfif" %}" alt="Motivation Image" style="display: none; height: 350px; width: 300px; margin-left: 375px;">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var buttons = document.querySelectorAll(".motivation-button");
        buttons.forEach(function(button) {
            button.addEventListener("click", function() {
                var imageId = this.getAttribute("data-image");
                var image = document.getElementById(imageId);
                var allImages = document.querySelectorAll("img[id^='motivationImage']");
                allImages.forEach(function(img) {
                    img.style.display = "none";
                });
                image.style.display = "block";
            });
        });
    });
    </script>
    
</div>

{% endblock %}