{% extends "fitness/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <br>
    <br><br>
    <h1>Add Food Item</h1>
    <form method="post">
        {% csrf_token %}
        <label for="food_item">Select Food Item:</label>
        <select name="food_item">
            {% for food_item in food_items %}
                <option value="{{ food_item.id }}">{{ food_item.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantity">Quantity (grams):</label>
        <input type="number" name="quantity" value="100" min="1">
        <br>
        <button type="submit">Add</button>
    </form>
</div>

{% endblock %}